<h1>Admin Approval</h1>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Student Name</th>
        <th scope="col">Course Name</th>
        <th scope="col">Date</th>
        <th scope="col">Edit</th>
      </tr>
    </thead>

    <tbody>
        <tr *ngFor="let request of requestList">
            <td>{{request.studentName}}</td>
            <td>{{request.course.name}}</td>
            <td>{{request.course.date}}</td>
            <td>
                <button type="button" class="btn btn-success"
                  (click)="acceptApproval(request.studentId, request.c_id)">Approved</button>
                &nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-danger"
                (click)="deleteApproval(request.studentId, request.c_id)">Delete</button>
            </td>
        </tr>
    </tbody>
  </table>
