<div class="container">
    <table class="table" style="width: max-content; margin: auto;">
      <tbody>
        <tr>
          <td class="align-bottom">
            <button type="button" class="btn btn-primary" (click)="routeToAddCourseByStudent()">
              Add Course Request
            </button>
          </td>
          <td class="align-bottom">
            <button type="button" class="btn btn-primary" (click)="routeToStudentForm()">
              View Result
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>