
<main role="main" class="container">
  <div class="starter-template">
    <h1>Admin Panel</h1>
    <p class="lead">These options are for controlling the system.<br> All the basic functionality are done here.</p>
  </div>
</main>

<div class="container">
    <table class="table" style="width: max-content; margin: auto;">
      <tbody>
        <tr>
          <td class="align-bottom">
            <button type="button" class="btn btn-primary" (click)="routeToCourseSection()">
              All Courses
            </button>
          </td>
          <td class="align-bottom">
            <button type="button" class="btn btn-primary" (click)="routeToStudentSection()">
              All Students
            </button>
          </td>
          <td class="align-bottom">
            <button type="button" class="btn btn-primary" (click)="routeToStudentGarde()">
              Set Grade
            </button>
          </td>
          <td class="align-bottom">
            <button type="button" class="btn btn-primary" (click)="routeToStudentCourseApproval()">
              Course Approval
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

