<diV>
  <div style="background: rgb(144,238,144);"> 
    <table class="table" style="transform: translate(10%, 0%);">
        <tbody>
          <tr>
            <td class="align-bottom"><b style="font-size: 30px;">Student Management</b></td>
            <td>
              <div class="container">
                <button class="btn btn-danger">Logout</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
  </div>
  <br><br>
  <router-outlet></router-outlet>
</diV>

 