
<form class="productForm">
    <h2>Add Courses</h2>
    <div class="form-group">
        <label for="courseName">Course Name</label>
        <input type="text" class="form-control input-md" id="courseName" name="courseName" [(ngModel)]="courseName" required autofocus>
    </div>
    <br>
    <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control input-md" id="description" name="description" [(ngModel)]="description" required>
    </div>
    <br>
    <div class="form-group">
        <input type="submit" value="Add" class="btn btn-success btn-md" (click)="saveProduct()">
    </div>
</form>
