<div class="container">
    <table class="table" style="width: max-content; margin: auto;">
      <tbody>
        <tr>
          <td class="align-bottom">
            <button type="button" class="btn btn-primary" (click)="routeToCourseSection()">
              All Courses
            </button>
          </td>
          <td class="align-bottom">
            <button type="button" class="btn btn-primary" (click)="routeToStudentSection()">
              All Students
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

