<main role="main" class="container">

  <div class="starter-template">
    <h1>Devops Gurus Project</h1>
    <p class="lead">This is a student management project.<br> All you get is this crud functionality.</p>
  </div>
</main>

<div class="container">
    <table class="table" style="width: max-content; margin: auto;">
      <tbody>
        <tr>
          <td class="align-bottom">
            <button type="button" class="btn btn-primary" (click)="routeToAdmin()">
              Admin
            </button>
          </td>
          <td class="align-bottom">
            <button type="button" class="btn btn-primary" (click)="routeToStudent()">
              Student
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

